body {
    background-color:yellow;
}

hr {
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
}

img {
    width:150px;
    height:150px;
    object-fit:cover;
    border-radius:50%;
}